.vitae_container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;

  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .profile_photo {
      background: url('../../images/my_profile.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 150px;
      height: 150px;
      margin-right: 20px;
    }
    .profile_name {
      margin-bottom: 5px;
    }
    .profile_birthday {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .vitae_item {
    margin-bottom: 20px;
    .vitae_item_description {
      display: block;
      margin-top: 10px;

      > sup {
        opacity: 0.7;
      }
    }
  }

  .caption_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media only (max-width: 768px) {
      display: inline;
    }
    .caption_item {
      flex-grow: 1;
      flex-basis: 0;
    }
    .caption_title {
      font-size: 3.2rem;
      color: #42474b;
      font-weight: 300;
      letter-spacing: -0.03em;
      @media only (max-width: 768px) {
        font-size: 2rem;
      }
    }
    .caption_description {
      @media only (max-width: 768px) {
        margin-top: 15px;
      }
    }
  }
  .devstack_container {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    @media only (max-width: 768px) {
      display: inline;
    }
    .devstack_item {
      text-align: center;
      flex: 1;
      .devstack_item_logo_container {
        display: inline-block;
        width: 130px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.react {
          background-image: url('../../images/react-logo-2.png');
        }

        &.node {
          background-image: url('../../images/nodejs-logo-2.svg');
        }

        &.es6 {
          background-image: url('../../images/es6-logo.svg');
        }
      }
      .devstack_item_name {
        position: relative;
        display: inline-block;
        color: #41494e;
        margin: 10px 0 20px 0px;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;

        .bg {
          position: absolute;
          left: 0;
          right: 0;
          top: 9px;
          bottom: 0;
          background: #fff57e;
        }

        .text {
          position: relative;
        }
      }
      .devstack_item_description {
        margin: 0px 30px 30px 30px;
        letter-spacing: -0.03rem;
        color: #72797e;
      }
    }
  }
  .content_title {
    margin-top: 60px;
  }
}
