.document {
  .header {
    margin: 50px 0px 30px 0px;
    .back {
      text-decoration: none;
      color: rgb(122, 122, 122);
      font-size: 1rem;
      transition: ease 0.3s;

      &:hover {
        opacity: 80%;
      }
    }
    .title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .info {
      .date {
        font-size: 0.8rem;
        color: rgb(179, 179, 179);
      }
    }
  }
}
